.form-inline {
  background: white;
}

.filter-container {
  margin-bottom: 4rem;
}

.filter-container button,
input {
  margin-right: 1rem;
}

.filter-available,
.filter-price {
  text-transform: uppercase;
}

.cart i {
  margin-right: 10rem;
}
.scrollable-container {
  display: block;
  width: 250px;
  max-height: 500px;
}
.cart-contain {
  position: relative;
  padding: 1rem;
  z-index: 2;
  /* width: 500px; */
  height: 100%;
  background: white;
  border: 1px solid #343a403a;
  border-top: hidden;
  overflow-y: auto;
}

.cart-item {
  margin: 0.5rem;
}

.cart-item-remove {
  background: rgba(255, 42, 42, 0.87);
  margin-right: 1rem;
}

.cart-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  margin: 5px;
  padding: 5px;
  /* border: 1px solid gray; */
}

.cart-img {
  width: auto;
  height: 5rem;
}
.active {
  display: block;
}
.disabled {
  display: none;
}
