* {
  margin: 0;
  font-size: 10px;
}

main {
  position: relative;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  color: black;
}

.item-container {
  max-width: 20rem;
  height: auto;
  border: 1px solid black;
  border-radius: 6px;
  margin: 3rem;
}

.item-container:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.item {
  position: relative;
  margin: 10px;
}
.item-info {
  padding: 0;
}
.item-form {
  margin: 1rem;
}
.item-form button {
  width: 10rem;
  margin-left: 5px;
}
.item-form span {
  /* display: none; */
  background: red;
  color: white;
  padding: 5px;
  border: 1px solid red;
  border-radius: 7px;
}
.item-img {
  width: auto;
  height: 8rem;
  margin: 1rem;
}
.item-desc {
  margin: 1rem;
}
.item-btn {
  text-transform: uppercase;
}
.cart-btn {
  position: relative;
  border: 1px solid cornflowerblue;
}

.cart-btn:hover {
  background: red;
}

.available {
  color: green;
}
.out-of-stock {
  color: red;
}
